.wapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  
}

.cover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: black;
 
}

.main{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  overflow: hidden;
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

.camera-full{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
}

.viewport {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  aspect-ratio: 16/9;
}

/* height > width */
@media (orientation: portrait) {
  .viewport {
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
  }
}

.viewport>>>video,
.viewport>>>canvas,
.viewport>>>canvas.image-buffer {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.viewport>>>canvas.image-buffer{
  visibility: hidden;
}

.cover{
  z-index:1;
}

.viewport>>>video {
  z-index: 2;
}

.viewport>>>canvas {
  z-index: 3;
}

.cover-loading{
  z-index: 4;
}

.camera-menu{
  background-color: transparent;
}

.camera-menu >>> .dropdown-menu{
  background-color: transparent;
}